<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<form action="/login" method="POST">
		<fieldset>
			<legend>Log-in Details</legend>
			<table>
				<tr>
					<td><label>Username</label></td>
					<td><input type="username" name="username" placeholder="Username"></td>
				</tr>
				<tr>
					<td><label>Password</label></td>
					<td><input type="password" name="password" placeholder="Password"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Log in"></td>
				</tr>
			</table>

		</fieldset>
		
	</form>
</body>
</html>